*{
	margin: 0;
	font-family: Mermaid1001;
}

@font-face{
	font-family: Mermaid1001;
	src:url(fuentes/Mermaid1001.ttf);
}

img {
	width: 70%;
	border-radius: 200px;
}

/*img:hover{
	        transform : scale(1.02);
        -moz-transform : scale(1.02);     
        -webkit-transform : scale(1.02);   
        -o-transform : scale(1.02);        
}*/

.contenedores{
	display: flex;
	flex-wrap: wrap;
	color:black;
	align-items: center;
	border: 1px solid white
}
.titular{
	padding: 10px;
	align-items: center;
	justify-content: center;
	flex-grow: 40;
	background: orange;
	text-align: center;
	border: 1px solid white
}
.icono{
	padding: 10px;
	align-items: center;
	justify-content: center;
	flex-grow: 1;	
	background: orange;
	text-align: center;
	border: 1px solid white
}

.columnas{
	flex-grow: 10;
	color: yellow;
	text-align: center;
	padding: 10px;
	align-items: center;
	justify-content: center;
	background-color: orange;
	border: 1px solid white

}

.columnas:hover {
	background-color: #FADB0C;
	 transform : scale(1.02);
     -moz-transform : scale(1.02);      /* Firefox */
     -webkit-transform : scale(1.02);   /* Chrome - Safari */
     -o-transform : scale(1.02);        /* Opera */
}

a {
	text-decoration: none;
	color: black;
}